Repository beyond-sw-camp/be02-fin-Surisuri_Masuri-OMS, pull requests merged in 2024-04, with the labels that each got.

#273 [Fix] 본사 관리자 에러 코드 수정
  backend/src/main/java/com/example/Surisuri_Masuri/cart/service/CartService.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Controller/StoreController.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
Labels: 👨‍💻 Backend

#274 [Fix] 본사 관리자 에러 코드 수정
  backend/src/main/java/com/example/Surisuri_Masuri/cart/service/CartService.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Controller/StoreController.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
Labels: 👨‍💻 Backend

#275 [Fix] 가맹점 관리자 주문 기능 수정
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/controller/OrdersController.java
Labels: 👨‍💻 Backend

#276 [Fix] 가맹점 관리자 주문 기능 수정
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/controller/OrdersController.java
Labels: 👨‍💻 Backend

#277 [Fix] 회원가입 예외처리 수정
  frontend/store/src/views/RegisterView.vue
  frontend/store/stores/userStore.js
Labels: 👨‍🎨 Frontend

#278 Develop store
  frontend/store/src/views/RegisterView.vue
  frontend/store/stores/userStore.js
Labels: 👨‍🎨 Frontend

#279 [Feat] store pagination 구현
  frontend/store/src/views/NoticeView.vue
  frontend/store/src/views/OrderDetailView.vue
  frontend/store/src/views/ProductView.vue
  frontend/store/src/views/QuestionList.vue
  frontend/store/src/views/RegisterView.vue
Labels: 👨‍🎨 Frontend

#280 pagination 구현
  frontend/store/src/views/NoticeView.vue
  frontend/store/src/views/OrderDetailView.vue
  frontend/store/src/views/ProductView.vue
  frontend/store/src/views/QuestionList.vue
  frontend/store/src/views/RegisterView.vue
Labels: 👨‍🎨 Frontend

#281 [Feat] 비밀번호 찾기 라우터 추가
  frontend/store/src/router/index.js
  frontend/store/src/views/LoginView.vue
Labels: 👨‍🎨 Frontend

#283 Backend/feature/user
  backend/src/main/java/com/example/Surisuri_Masuri/member/Controller/UserController.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Repository/AdminRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Repository/StoreAdminRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Repository/UserRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
Labels: 👨‍💻 Backend

#285 Develop backend
  backend/src/main/java/com/example/Surisuri_Masuri/container/scheduler/ContainerScheduler.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Controller/UserController.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Repository/AdminRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Repository/StoreAdminRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Repository/UserRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/Orders.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/scheduler/StoreScheduler.java
Labels: 👨‍💻 Backend

#286 [Fix] store main 공지사항 안불러와지는 오류 수정
  frontend/store/src/views/HomeView.vue
  frontend/store/src/views/PasswordView.vue
Labels: 👨‍🎨 Frontend

#287 store main 공지사항 수정
  frontend/store/src/views/HomeView.vue
  frontend/store/src/views/PasswordView.vue
Labels: 👨‍🎨 Frontend

#288 Backend/feature/store
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
  backend/src/main/resources/application.yml
Labels: 👨‍💻 Backend

#289 Develop_backend
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
  backend/src/main/resources/application.yml
Labels: 👨‍💻 Backend

#290 Backend/feature/store
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Repository/QueryDsl/StoreStockRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
Labels: 👨‍💻 Backend

#291 Develop backend
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Repository/QueryDsl/StoreStockRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
Labels: 👨‍💻 Backend

#292 Develop backend
  backend/src/main/java/com/example/Surisuri_Masuri/email/Service/EmailService.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
Labels: 👨‍💻 Backend

#293 [Design] 페이지네이션 색 변경
  frontend/store/src/App.vue
Labels: 👨‍🎨 Frontend

#295 [Feat] manager pagination 구현
  frontend/manager/src/views/ContainerList.vue
  frontend/manager/src/views/NoticeList.vue
  frontend/manager/src/views/QuestionList.vue
  frontend/manager/src/views/ShopView.vue
Labels: 👨‍🎨 Frontend

#296 manager paigination 구현
  frontend/manager/src/views/ContainerDetail.vue
  frontend/manager/src/views/ContainerList.vue
  frontend/manager/src/views/NoticeList.vue
  frontend/manager/src/views/QuestionList.vue
  frontend/manager/src/views/ShopView.vue
Labels: 👨‍🎨 Frontend

#297 [Fix] axios 주소 변경
  frontend/manager/src/views/ContainerList.vue
  frontend/manager/src/views/NoticeList.vue
  frontend/manager/src/views/QuestionList.vue
  frontend/manager/src/views/ShopView.vue
Labels: 👨‍🎨 Frontend

#298 axios 주소 변경
  frontend/manager/src/views/ContainerList.vue
  frontend/manager/src/views/NoticeList.vue
  frontend/manager/src/views/QuestionList.vue
  frontend/manager/src/views/ShopView.vue
Labels: 👨‍🎨 Frontend

#299 [Feat] 주문내역 pagination 구현
  frontend/manager/src/views/StoreView.vue
Labels: 👨‍🎨 Frontend

#300 주문내역 pagination 구현
  frontend/manager/src/views/StoreView.vue
Labels: 👨‍🎨 Frontend

#302 manager 주문내역 axios 주소 변경
  frontend/manager/src/views/StoreView.vue
Labels: 👨‍🎨 Frontend

#303 [Feat] storeStock pagination 구현
  frontend/store/src/views/StockEditView.vue
Labels: 👨‍🎨 Frontend

#304 storestock pagination 구현
  frontend/store/src/views/StockEditView.vue
Labels: 👨‍🎨 Frontend

#305 [Feat] RefreshToken 적용
  backend/src/main/java/com/example/Surisuri_Masuri/config/SecurityConfig.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/Controller/AccessTokenController.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/JwtFilter.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/JwtUtils.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/Model/Dto/AccessTokenDto.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/Model/Dto/TokenDto.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/Model/RefreshToken.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/Repository/RefreshTokenRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/Service/AccessTokenService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/Entity/Manager.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/LoginRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/ManagerSignUpRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerServiceImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserServiceImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Controller/StoreController.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Model/Entity/Store.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Service/StoreService.java
  frontend/manager/src/views/ContainerDetail.vue
  frontend/manager/src/views/ContainerList.vue
  frontend/manager/src/views/NoticeList.vue
  frontend/manager/src/views/QuestionList.vue
  frontend/manager/src/views/ShopView.vue
  frontend/manager/src/views/StoreView.vue
  frontend/store/src/App.vue
  frontend/store/src/router/index.js
  frontend/store/src/views/HomeView.vue
  frontend/store/src/views/LoginView.vue
  frontend/store/src/views/NoticeView.vue
  frontend/store/src/views/OrderDetailView.vue
  frontend/store/src/views/PasswordView.vue
  frontend/store/src/views/ProductView.vue
  frontend/store/src/views/QuestionList.vue
  frontend/store/src/views/RegisterView.vue
  frontend/store/src/views/StockEditView.vue
  frontend/store/stores/userStore.js
Labels: 👨‍💻 Backend

#306 [Feat] develop_backend 작업 내용 develop에 반영
  backend/src/main/java/com/example/Surisuri_Masuri/config/SecurityConfig.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/Controller/AccessTokenController.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/JwtFilter.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/JwtUtils.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/Model/Dto/AccessTokenDto.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/Model/Dto/TokenDto.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/Model/RefreshToken.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/Repository/RefreshTokenRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/Service/AccessTokenService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/Entity/Manager.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/LoginRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/ManagerSignUpRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerServiceImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserServiceImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/controller/OrdersController.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Controller/StoreController.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Model/Entity/Store.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Repository/QueryDsl/StoreRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Service/StoreService.java
Labels: 👨‍💻 Backend

#307 [Desgin] store design
  frontend/store/src/views/HomeView.vue
  frontend/store/src/views/NoticeView.vue
  frontend/store/src/views/OrderDetailView.vue
  frontend/store/src/views/ProductView.vue
  frontend/store/src/views/QuestionDetail.vue
  frontend/store/src/views/QuestionList.vue
  frontend/store/src/views/QuestionNew.vue
  frontend/store/src/views/StockEditView.vue
  frontend/store/src/views/UserProfileView.vue
Labels: 👨‍🎨 Frontend

#310 [Feat] RefreshToken 만료 관련 메소드 구현
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/JwtFilter.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/JwtUtils.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/Repository/RefreshTokenRepository.java
Labels: 👨‍💻 Backend

#311 [Docs] ReadMe 시스템 아키텍처 사진 수정
  cicd/README.md
  img/systemArchitecture.png
Labels: CI/CD

#312 [Feat] Redis 초기설정 및 이메일 인증 기능 구현
  backend/src/main/java/com/example/Surisuri_Masuri/config/RedisConfig.java
  backend/src/main/java/com/example/Surisuri_Masuri/email/Service/EmailService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
Labels: 👨‍💻 Backend

#313 [Fix] RefreshToken 적용에따른 코드 수정
  backend/src/main/java/com/example/Surisuri_Masuri/cart/controller/CartController.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/service/CartService.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/controller/ContainerController.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/Model/RefreshToken.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/LoginRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/controller/NoticeController.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/service/NoticeService.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/controller/OrdersController.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/controller/ProductController.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/service/ProductService.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/controller/QuestionController.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Controller/StoreController.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Controller/StoreStockController.java
  backend/src/test/java/Cart/CartControllerFailureTest.java
  backend/src/test/java/Cart/CartSuccessControllerTest.java
  backend/src/test/java/Container/ContainerControllerFailureTest.java
  backend/src/test/java/Container/ContainerSuccessControllerTest.java
Labels: 👨‍💻 Backend

#314 [Fix] 공통으로 쓰이는 에러코드로 변경
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/service/NoticeService.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/service/ProductService.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Service/StoreService.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
Labels: 👨‍💻 Backend

#316 [Feat] QueryDslConfig 관련 작업
  backend/src/main/java/com/example/Surisuri_Masuri/config/QueryDslConfig.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Repository/QueryDsl/StoreStockRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Repository/QueryDsl/StoreStockRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Repository/StoreStockRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
Labels: 👨‍💻 Backend

#324 Backend/feature/batch
  batch/.gitignore
  batch/.mvn/wrapper/maven-wrapper.properties
  batch/Dockerfile
  batch/mvnw
  batch/mvnw.cmd
  batch/pom.xml
  batch/src/main/java/com/example/batch/BatchApplication.java
  batch/src/main/java/com/example/batch/Repository/ContainerStockRepository.java
  batch/src/main/java/com/example/batch/Repository/StoreStockRepository.java
  batch/src/main/java/com/example/batch/entities/Answer.java
  batch/src/main/java/com/example/batch/entities/Cart.java
  batch/src/main/java/com/example/batch/entities/CartDetail.java
  batch/src/main/java/com/example/batch/entities/Container.java
  batch/src/main/java/com/example/batch/entities/ContainerStock.java
  batch/src/main/java/com/example/batch/entities/EmailVerify.java
  batch/src/main/java/com/example/batch/entities/Manager.java
  batch/src/main/java/com/example/batch/entities/Notice.java
  batch/src/main/java/com/example/batch/entities/Orders.java
  batch/src/main/java/com/example/batch/entities/OrdersDetail.java
  batch/src/main/java/com/example/batch/entities/Product.java
  batch/src/main/java/com/example/batch/entities/ProductCategory.java
  batch/src/main/java/com/example/batch/entities/Question.java
  batch/src/main/java/com/example/batch/entities/Store.java
  batch/src/main/java/com/example/batch/entities/StoreStock.java
  batch/src/main/java/com/example/batch/entities/User.java
  batch/src/main/java/com/example/batch/job/UpdateContainerStockConfig.java
  batch/src/main/java/com/example/batch/job/UpdateStoreStockConfig.java
  batch/src/main/resources/application.properties
  batch/src/test/java/com/example/batch/BatchApplicationTests.java
Labels: 👨‍💻 Backend

#329 [Test] Jenkins webhook 테스트3
  backend/README.md
Labels: 👨‍🎨 Frontend

#330 [Feat] managerRefreshToken
  frontend/manager/src/views/ContainerDetail.vue
  frontend/manager/src/views/ContainerList.vue
  frontend/manager/src/views/NoticeDetail.vue
  frontend/manager/src/views/NoticeList.vue
  frontend/manager/src/views/NoticeNew.vue
  frontend/manager/src/views/QuestionDetail.vue
  frontend/manager/src/views/QuestionList.vue
  frontend/manager/src/views/ShopView.vue
  frontend/manager/src/views/StoreDetailView.vue
  frontend/manager/src/views/StoreView.vue
  frontend/manager/stores/managerStores.js
Labels: 👨‍🎨 Frontend

#331 Develop manager
  frontend/manager/src/views/ContainerDetail.vue
  frontend/manager/src/views/ContainerList.vue
  frontend/manager/src/views/NoticeDetail.vue
  frontend/manager/src/views/NoticeList.vue
  frontend/manager/src/views/NoticeNew.vue
  frontend/manager/src/views/QuestionDetail.vue
  frontend/manager/src/views/QuestionList.vue
  frontend/manager/src/views/ShopView.vue
  frontend/manager/src/views/StoreDetailView.vue
  frontend/manager/src/views/StoreView.vue
  frontend/manager/stores/managerStores.js
Labels: 👨‍🎨 Frontend

#332 [Fix] axios 주소 변경
  frontend/manager/src/router/index.js
  frontend/manager/src/views/QuestionList.vue
  frontend/manager/src/views/StoreView.vue
Labels: 👨‍🎨 Frontend

#333 manager axios 주소 변경
  frontend/manager/src/router/index.js
  frontend/manager/src/views/QuestionList.vue
  frontend/manager/src/views/StoreView.vue
Labels: 👨‍🎨 Frontend

#334 [Fix] storeRouter 수정
  frontend/store/src/router/index.js
Labels: 👨‍🎨 Frontend

#337 Develop store
  backend/README.md
  backend/src/main/java/com/example/Surisuri_Masuri/notice/service/NoticeService.java
  frontend/store/src/router/index.js
Labels: 👨‍🎨 Frontend

#338 [Feat] Header logout 기능 변경
  frontend/store/src/components/HeaderComponent.vue
Labels: 👨‍🎨 Frontend

#339 storelogout 토큰 삭제 변경
  frontend/store/src/components/HeaderComponent.vue
Labels: 👨‍🎨 Frontend

#340 [Fix] 가맹점 재고 관련 기능 수정
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/Entity/StoreStock.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreSchedulingService.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
Labels: 👨‍💻 Backend

#341 [Fix] 가맹점 관리자 재고 기능 수정
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
Labels: 👨‍💻 Backend

#342 [Fix] K8S 관련 에러 수정
  backend/src/main/java/com/example/Surisuri_Masuri/notice/service/NoticeService.java
Labels: 👨‍💻 Backend

#343 [Fix] AccessToken 유효 시간 수정
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/JwtUtils.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
Labels: 👨‍💻 Backend

#344 [Fix] AccessToken 유효 시간 수정
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/JwtUtils.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
Labels: 👨‍💻 Backend

#345 [Fix] RefreshToken 유효 시간 수정
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/Model/RefreshToken.java
Labels: 👨‍💻 Backend

#346 [Fix] k8s 배포간 에러 수정
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
Labels: 👨‍💻 Backend

#347 [Fix] 오타 수정
  frontend/store/src/components/HeaderComponent.vue
  frontend/store/src/views/ProductView.vue
Labels: 👨‍🎨 Frontend

#348 Develop store
  frontend/store/src/components/HeaderComponent.vue
  frontend/store/src/views/ProductView.vue
Labels: 👨‍🎨 Frontend

#349 [Feat] 매니저 리프레쉬 토큰 만료시 로그아웃 구현
  frontend/manager/stores/managerStores.js
Labels: 👨‍🎨 Frontend

#350 Develop manager refreshToken 수정
  frontend/manager/stores/managerStores.js
Labels: 👨‍🎨 Frontend

#351 Backend/feature/cart
  .idea/jarRepositories.xml
  backend/src/main/java/com/example/Surisuri_Masuri/cart/service/CartService.java
  backend/src/main/java/com/example/Surisuri_Masuri/config/QueryDslConfig.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Repository/QueryDsl/StoreStockRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Repository/QueryDsl/StoreStockRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Repository/StoreStockRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
  backend/src/main/resources/application.yml
  batch/.mvn/wrapper/maven-wrapper.jar
Labels: 👨‍💻 Backend

#352 Backend/feature/cart
  .idea/jarRepositories.xml
  backend/src/main/java/com/example/Surisuri_Masuri/cart/service/CartService.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  batch/.mvn/wrapper/maven-wrapper.jar
Labels: 👨‍💻 Backend

#353 Develop backend
  .idea/jarRepositories.xml
  backend/src/main/java/com/example/Surisuri_Masuri/cart/service/CartService.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/JwtUtils.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/Model/RefreshToken.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/service/NoticeService.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
  batch/.mvn/wrapper/maven-wrapper.jar
Labels: 👨‍💻 Backend

#354 Backend/feature/orders
  backend/src/main/java/com/example/Surisuri_Masuri/orders/controller/OrdersController.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
Labels: 👨‍💻 Backend

#355 Develop backend
  backend/src/main/java/com/example/Surisuri_Masuri/orders/controller/OrdersController.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
Labels: 👨‍💻 Backend

#356 [Fix] Front Vue 수정
  .idea/jarRepositories.xml
  backend/src/main/java/com/example/Surisuri_Masuri/cart/service/CartService.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/JwtUtils.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/Model/RefreshToken.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/service/NoticeService.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/controller/OrdersController.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
  batch/.mvn/wrapper/maven-wrapper.jar
  frontend/manager/stores/managerStores.js
  frontend/store/src/views/CartView.vue
  frontend/store/src/views/StockEditView.vue
  frontend/store/src/views/UserProfileView.vue
Labels: 👨‍🎨 Frontend

#357 [Fix] Front Vue 수정
  frontend/store/src/views/CartView.vue
  frontend/store/src/views/StockEditView.vue
  frontend/store/src/views/UserProfileView.vue
Labels: 👨‍🎨 Frontend

#358 [Fix] Front Vue 수정
  frontend/store/src/views/HomeView.vue
Labels: 👨‍🎨 Frontend

#359 [Fix] Front Vue 수정
  frontend/store/src/views/HomeView.vue
Labels: 👨‍🎨 Frontend

#361 [Fix] 가맹점 관리자 재고 관련 기능 코드에 오타 수정
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ResDtos/StoreStockCreateRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ResDtos/StoreStockReadRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Repository/QueryDsl/StoreStockRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Repository/QueryDsl/StoreStockRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
Labels: 👨‍💻 Backend

#362 [Fix] 컨트롤러에 어노테이션 수정
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ResDtos/StoreStockCreateRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ResDtos/StoreStockReadRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Repository/QueryDsl/StoreStockRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Repository/QueryDsl/StoreStockRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
Labels: 👨‍💻 Backend

#363 Cicd/jenkins/test
  backend/README.md
Labels: 👨‍💻 Backend

#364 Backend/feature/refact
  backend/src/main/java/com/example/Surisuri_Masuri/member/Controller/UserController.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/Product.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/dto/request/ProductCreateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/service/ProductService.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ReqDtos/StoreStockCreateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Repository/QueryDsl/StoreStockRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
  frontend/store/src/App.vue
Labels: 👨‍💻 Backend

#367 [Feat] stockedit alert
  frontend/store/src/views/StockEditView.vue
Labels: 👨‍🎨 Frontend

#368 stockedit 알림창 생성
  frontend/store/src/views/StockEditView.vue
Labels: 👨‍🎨 Frontend

#369 Frontend/feature/alert
  frontend/store/src/views/StockEditView.vue
Labels: 👨‍🎨 Frontend

#370 Develop store
  frontend/store/src/views/StockEditView.vue
Labels: 👨‍🎨 Frontend

#371 [Feat] loadingComponent 추가
  frontend/store/src/App.vue
  frontend/store/src/components/LoadingComponent.vue
  frontend/store/src/views/LoginView.vue
  frontend/store/src/views/RegisterView.vue
  frontend/store/stores/loadingStore.js
Labels: 👨‍🎨 Frontend

#372 store loading Component 추가
  frontend/store/src/App.vue
  frontend/store/src/components/LoadingComponent.vue
  frontend/store/src/views/LoginView.vue
  frontend/store/src/views/RegisterView.vue
  frontend/store/stores/loadingStore.js
Labels: 👨‍🎨 Frontend

#373 [Feat] manager loading 컴포넌트 추가
  frontend/manager/src/App.vue
  frontend/manager/src/components/LoadingComponent.vue
  frontend/manager/src/views/ContainerDetail.vue
  frontend/manager/src/views/LoginView.vue
  frontend/manager/stores/loadingStore.js
  frontend/manager/stores/managerStores.js
Labels: 👨‍🎨 Frontend

#375 [Feat] product 검색 axios 추가 및 페이지 수정
  frontend/store/src/views/ProductView.vue
  frontend/store/src/views/RegisterView.vue
Labels: 👨‍🎨 Frontend

#376 store search axios 추가 및 페이지 수정
  frontend/store/src/views/ProductView.vue
  frontend/store/src/views/RegisterView.vue
Labels: 👨‍🎨 Frontend

#377 [Feat] 가맹점 이메일 찾기 관련 오류 수정
  backend/src/main/java/com/example/Surisuri_Masuri/member/Controller/UserController.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  batch/src/main/java/com/example/batch/entities/StoreStock.java
Labels: 👨‍💻 Backend

#378 Develop backend
  batch/src/main/java/com/example/batch/entities/Product.java
  batch/src/main/java/com/example/batch/job/UpdateStoreStockConfig.java
Labels: 👨‍💻 Backend

#379 Develop backend
  backend/src/main/java/com/example/Surisuri_Masuri/cart/service/CartService.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ResDtos/StoreStockReadRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
  frontend/store/src/views/HomeView.vue
  frontend/store/src/views/StockEditView.vue
  frontend/store/stores/userStore.js
Labels: 👨‍💻 Backend

#380 [Fix] 가맹점 폐기 상품 관련 알림창 디자인 수정
  frontend/store/src/views/HomeView.vue
Labels: 👨‍🎨 Frontend

#384 [Feat] Test
  backend/src/main/java/com/example/Surisuri_Masuri/common/Test.java
Labels: 👨‍💻 Backend

#385 [Fix] Test
  backend/src/main/java/com/example/Surisuri_Masuri/common/Test.java
Labels: 👨‍💻 Backend
