Repository beyond-sw-camp/be02-fin-Surisuri_Masuri-OMS, pull requests merged in 2024-03, with the labels that each got.

#78 Backend/feature/user
  .gitignore
  backend/src/main/java/com/example/Surisuri_Masuri/config/PasswordEncoderConfig.java
  backend/src/main/java/com/example/Surisuri_Masuri/config/SecurityConfig.java
  backend/src/main/java/com/example/Surisuri_Masuri/email/Model/EmailConfirmReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/email/Model/EmailVerify.java
  backend/src/main/java/com/example/Surisuri_Masuri/email/Model/SendEmailReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/email/Repository/EmailVerifyRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/email/Service/EmailService.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/JwtFilter.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/JwtUtils.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Controller/ManagerController.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Controller/UserController.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/Entity/Manager.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/Entity/User.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/FindUserPasswordReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/LoginReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/ManagerSignUpReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/ResetPasswordReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/UserFindEmailReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/UserSignUpReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/UserUpdateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/FindUserPasswordRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/LoginRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/ManagerSignUpRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/ResetPasswordRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/UserFindEmailRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/UserSignUpRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/UserUpdateRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Repository/AdminRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Repository/ManagerRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Repository/StoreAdminRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Repository/UserRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/AdminService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/StoreAdminService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Model/Entity/Store.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Repository/StoreRepository.java
Labels: 👨‍💻 Backend

#80 Backend/feature/manager
  backend/src/main/java/com/example/Surisuri_Masuri/config/SecurityConfig.java
  backend/src/main/java/com/example/Surisuri_Masuri/email/Model/SendEmailReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/JwtFilter.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Controller/ManagerController.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Repository/ManagerRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/AdminService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/StoreAdminService.java
Labels: 👨‍💻 Backend

#81 Backend/feature/cart
  backend/src/main/java/com/example/Surisuri_Masuri/cart/controller/CartController.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/model/Cart.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/model/CartDetail.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/model/dto/request/CartCreateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/model/dto/response/CartCreateRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/model/dto/response/CartListRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/repository/CartDetailRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/repository/CartRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/service/CartService.java
Labels: 👨‍💻 Backend

#86 Backend/feature/question
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/Entity/Manager.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/controller/QuestionController.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/entity/Answer.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/entity/Question.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/request/QuestionAnswerReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/repository/AnswerRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
Labels: 👨‍💻 Backend

#90 Backend/feature/orders
  backend/src/main/java/com/example/Surisuri_Masuri/orders/controller/OrdersController.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/dto/request/OrdersUpdateDeliveryReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/dto/response/OrdersDetailDtoRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/dto/response/OrdersShowDeliveryStatusRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
Labels: 👨‍💻 Backend

#91 [Fix] 문의사항 엔티티 수정
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/Entity/Manager.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/Entity/User.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/model/entity/Notice.java
Labels: 👨‍💻 Backend

#94 Backend/feature/container
  backend/src/main/java/com/example/Surisuri_Masuri/container/controller/ContainerController.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/entity/Container.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/entity/ContainerStock.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/request/PostCreateContainerReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/response/GetListContainerRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/response/GetSearchContainerRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/response/GetSingleContainerStockRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/response/PostCreateContainerRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/ContainerRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/ContainerStockRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerService.java
Labels: 👨‍💻 Backend

#97 Frontend/feature/container
  frontend/manager/src/components/SideComponent.vue
  frontend/manager/src/router/index.js
  frontend/manager/src/views/ContainerDetail.vue
  frontend/manager/src/views/ContainerList.vue
Labels: 👨‍🎨 Frontend

#98 [Feat] 공지사항 페이지 개발
  frontend/manager/src/components/SideComponent.vue
  frontend/manager/src/router/index.js
  frontend/manager/src/views/NoticeDetail.vue
  frontend/manager/src/views/NoticeList.vue
  frontend/manager/src/views/NoticeNew.vue
Labels: 👨‍🎨 Frontend

#108 Backend/feature/product
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/Product.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/ProductExpire.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/service/ProductService.java
Labels: 👨‍💻 Backend

#109 StoreStock 관련 기능 구현
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Controller/StoreStockController.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ReqDtos/StoreStockDeleteReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ReqDtos/StoreStockSearchReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ReqDtos/StoreStockUpdateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ResDtos/StoreStockDeleteRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ResDtos/StoreStockSearchRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ResDtos/StoreStockUpdateRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Repository/StoreStockRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
Labels: 👨‍💻 Backend

#113 [Feat] 가맹점 관리자 회원가입 및 로그인, 로그아웃 axios 기능 개발
  frontend/store/src/components/HeaderComponent.vue
  frontend/store/src/views/LoginView.vue
  frontend/store/src/views/RegisterView.vue
Labels: 👨‍🎨 Frontend

#114 Backend/feature/product
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/Product.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/ProductExpire.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/repository/ProductExpireRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/service/ProductService.java
Labels: 👨‍💻 Backend

#115 Backend/feature/container
  backend/src/main/java/com/example/Surisuri_Masuri/container/controller/ContainerController.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/entity/Container.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/entity/ContainerStock.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/request/ContainerCreateProductReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/request/PostCreateContainerReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/response/GetSingleContainerStockRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerService.java
Labels: 👨‍💻 Backend

#116 Backend/feature/store
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/Entity/StoreStock.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ReqDtos/StoreStockCreateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ResDtos/StoreStockCreateRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ResDtos/StoreStockDto.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ResDtos/StoreStockSearchRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
Labels: 👨‍💻 Backend

#117 Backend/feature/container
  backend/src/main/java/com/example/Surisuri_Masuri/container/controller/ContainerController.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/request/ContainerCreateProductReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/request/PostCreateContainerReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerService.java
Labels: 👨‍💻 Backend

#118 Feature/backend/store stock
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/JwtUtils.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/Product.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Controller/StoreStockController.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/Entity/StoreStock.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ReqDtos/ExpiredFoodStockDto.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ReqDtos/StoreStockCreateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ResDtos/StoreStockReadRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Repository/StoreStockRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
Labels: 👨‍💻 Backend

#119 Backend/feature/orders
  backend/src/main/java/com/example/Surisuri_Masuri/orders/controller/OrdersController.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/dto/request/OrdersPaymentReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Repository/QueryDsl/StoreStockRepositoryCustomImpl.java
Labels: 👨‍💻 Backend

#124 Backend/feature/question
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/Entity/User.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/Product.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/controller/QuestionController.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/entity/Question.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/request/PatchUpdateQuestionReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/request/PostCreateQuestionReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/response/GetListQuestionRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/response/PostCreateQuestionRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
Labels: 👨‍💻 Backend

#125 Feature/backend/container
  backend/src/main/java/com/example/Surisuri_Masuri/container/controller/ContainerController.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/entity/ContainerStock.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/request/ContainerStockDto.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/ContainerStockRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerService.java
Labels: 👨‍💻 Backend

#126 Backend/feature/store
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Controller/StoreStockController.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ResDtos/StoreStockCreateRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ResDtos/StoreStockReadRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ResDtos/StoreStockSearchRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
Labels: 👨‍💻 Backend

#133 [Fix] User 관련 코드 수정
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/Entity/User.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
Labels: 👨‍💻 Backend

#134 [Fix] 가맹점 재고 수정 기능 수정 (#32)
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Repository/StoreStockRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
Labels: 👨‍💻 Backend

#135 Backend/feature/question
  backend/src/main/java/com/example/Surisuri_Masuri/question/controller/QuestionController.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/request/PatchUpdateQuestionReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
Labels: 👨‍💻 Backend

#141 [Fix] Entity 유효성 검증 설정
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/entity/Container.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Model/Entity/Store.java
Labels: 👨‍💻 Backend

#154 Frontend/feature/cart
  frontend/manager/package-lock.json
  frontend/manager/package.json
  frontend/manager/src/router/index.js
  frontend/store/package-lock.json
  frontend/store/package.json
  frontend/store/public/index.html
  frontend/store/src/views/CartView.vue
Labels: 👨‍🎨 Frontend

#155 frontend/feature/ordersdetail
  frontend/store/src/views/OrderDetailView.vue
Labels: 👨‍🎨 Frontend

#156 frontend/feature/product
  frontend/store/src/views/ProductView.vue
Labels: 👨‍🎨 Frontend

#158 frontend/feature/storestock
  frontend/store/src/views/StockEditView.vue
Labels: 👨‍🎨 Frontend

#157 Backend/feature/exception
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/ContainerRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerSchedulingService.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/EntityException/ContainerStockException.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Controller/ManagerController.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Controller/UserController.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/FindUserPasswordReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/LoginReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/ManagerSignUpReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/ResetPasswordReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/UserFindEmailReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/UserSignUpReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/UserUpdateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Repository/ManagerRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/service/NoticeService.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/dto/request/ProductCreateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/service/ProductService.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Model/Entity/Store.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Service/StoreService.java
Labels: 👨‍💻 Backend

#161 Backend/feature/cart
  backend/src/main/java/com/example/Surisuri_Masuri/cart/controller/CartController.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/model/dto/request/CartCreateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/model/dto/response/CartListRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/service/CartService.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/service/NoticeService.java
Labels: 👨‍💻 Backend

#162 Backend/feature/product
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/dto/CartDto.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/dto/PaymentDto.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/dto/response/ProductListRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/service/ProductService.java
Labels: 👨‍💻 Backend

#165 Backend/feature/orders
  backend/src/main/java/com/example/Surisuri_Masuri/orders/controller/OrdersController.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/dto/response/OrdersListRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
Labels: 👨‍💻 Backend

#167 Frontend/feature/managerQue
  frontend/manager/src/components/SideComponent.vue
  frontend/manager/src/router/index.js
  frontend/manager/src/views/QuestionDetail.vue
  frontend/manager/src/views/QuestionList.vue
  frontend/store/src/components/SideComponent.vue
Labels: 👨‍🎨 Frontend

#168 [Fix] 가맹점 관리자 문의사항 페이지 수정
  frontend/store/src/components/SideComponent.vue
  frontend/store/src/router/index.js
  frontend/store/src/views/QuestionDetail.vue
  frontend/store/src/views/QuestionList.vue
  frontend/store/src/views/QuestionNew.vue
Labels: 👨‍🎨 Frontend

#169 [Fix] 가맹점 관리자 공지사항 페이지 수정
  frontend/store/src/components/SideComponent.vue
  frontend/store/src/router/index.js
  frontend/store/src/views/HomeView.vue
  frontend/store/src/views/NoticeDetailView.vue
  frontend/store/src/views/NoticeView.vue
Labels: 👨‍🎨 Frontend

#173 Backend/feature/container
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/request/ContainerCreateProductReq.java
Labels: 👨‍💻 Backend

#174 Backend/feature/test
  backend/src/test/java/CartControllerFailureTest.java
  backend/src/test/java/CartSuccessControllerTest.java
  backend/src/test/java/ContainerControllerFailureTest.java
  backend/src/test/java/ContainerSuccessControllerTest.java
  backend/src/test/java/ProductControllerTest.java
  backend/src/test/java/ProductServiceTest.java
Labels: 👨‍💻 Backend

#175 [Test] 가맹점 관리자 로그인 페이지 테스트 코드 작성
  frontend/store/jest.config.js
  frontend/store/package-lock.json
  frontend/store/package.json
  frontend/store/src/main.js
  frontend/store/src/views/LoginView.vue
  frontend/store/tests/unit/userLogin.spec.js
Labels: 👨‍🎨 Frontend

#176 [Test] 가맹점 관리자 회원가입 페이지 테스트 코드 작성
  frontend/store/jest.config.js
  frontend/store/src/views/RegisterView.vue
  frontend/store/tests/unit/userRegister.spec.js
Labels: 👨‍🎨 Frontend

#178 [Test] 가맹점 관리자 이메일 찾기 페이지 테스트 코드 작성
  frontend/store/tests/unit/userResetEmail.spec.js
Labels: 👨‍🎨 Frontend

#184 [Test] 가맹점 관리자 비밀번호 찾기/재설정 페이지 테스트 코드 작성
  frontend/store/src/router/index.js
  frontend/store/src/views/PasswordView.vue
  frontend/store/src/views/ResetLoginView.vue
  frontend/store/src/views/ResetPasswordView.vue
  frontend/store/tests/unit/userFindPw.spec.js
  frontend/store/tests/unit/userResetPw.spec.js
Labels: 👨‍🎨 Frontend

#188 [Feat] CI/CD를 위한 파일 작성
  cicd/jenkins/frontend/manager/Dockerfile
  frontend/manager/nginx/default.conf
Labels: CI/CD

#189 [Feat] CI/CD를 위한 파일 작성
  cicd/jenkins/frontend/store/Dockerfile
  frontend/store/nginx/default.conf
Labels: CI/CD

#190 [Feat] CI/CD를 위한 파일 작성
  cicd/k8s/frontend/frontendStore-deployment.yml
Labels: CI/CD

#192 [Test] 가맹점 관리자 마이 페이지에 테스트 코드 작성
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/UserUpdateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  frontend/store/src/views/UserProfileView.vue
  frontend/store/tests/unit/userMypage.spec.js
Labels: 👨‍🎨 Frontend

#193 [Design] 가맹점 관리자 메인 페이지 디자인 수정
  frontend/store/src/views/HomeView.vue
Labels: 👨‍🎨 Frontend

#197 Cicd/frontend/store
  cicd/jenkins/frontend/manager/Dockerfile
  cicd/jenkins/frontend/manager/ManagerPipeLine
  cicd/jenkins/frontend/store/StorePipeLine
  cicd/k8s/frontend/frontendmanager-deployment.yml
  cicd/k8s/frontend/frontendstore-deployment.yml
Labels: CI/CD

#199 Cicd/test
  cicd/test/test.txt
Labels: CI/CD

#200 [Test] Jenkins Test
  cicd/test/test.txt
Labels: CI/CD

#201 [Fix] CI Test를 위한 코드 수정
  backend/pom.xml
  backend/src/test/java/Product/ProductControllerTest.java
  backend/src/test/java/Product/ProductServiceTest.java
Labels: CI/CD

#202 [Fix] Dockerfile 수정
  cicd/jenkins/frontend/store/Dockerfile
Labels: CI/CD

#203 [Design] 본사 관리자 공통 컴포넌트 수정
  frontend/manager/src/components/SideComponent.vue
Labels: 👨‍🎨 Frontend

#209 Feature/cicd
  .gitignore
  backend/.gitignore
  backend/Dockerfile
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  cicd/jenkins/backend/BackendPipeLine
  cicd/jenkins/frontend/manager/FrontManagerPipeLine
  cicd/jenkins/frontend/manager/ManagerPipeLine
  cicd/jenkins/frontend/store/Dockerfile
  cicd/jenkins/frontend/store/FrontStorePipeLine
  cicd/jenkins/frontend/store/StorePipeLine
  cicd/k8s/backend/backend-deployment.yml
  cicd/k8s/backend/backend-hpa.yml
  cicd/k8s/backend/backend-service.yml
  cicd/k8s/backend/database/mariadb-pod.yml
  cicd/k8s/backend/database/mariadb-service.yml
  cicd/k8s/frontend/manager/frontendmanager-deployment.yml
  cicd/k8s/frontend/manager/frontendmanager-hpa.yml
  cicd/k8s/frontend/manager/frontmanager-service.yml
  cicd/k8s/frontend/store/frontendstore-deployment.yml
  cicd/k8s/frontend/store/frontendstore-hpa.yml
  cicd/k8s/frontend/store/frontstore-service.yml
  docker-compose.yml
  frontend/manager/.gitignore
  frontend/manager/nginx/default.conf
  frontend/store/.gitignore
  frontend/store/Dockerfile
  frontend/store/nginx/default.conf
Labels: CI/CD

#211 Frontend/feature/container
  frontend/manager/src/router/index.js
  frontend/manager/src/views/ContainerDetail.vue
  frontend/manager/src/views/ContainerList.vue
  frontend/manager/src/views/StoreView.vue
  frontend/store/src/views/OrderDetailView.vue
Labels: 👨‍🎨 Frontend

#212 Frontend/feature/notice
  frontend/manager/src/views/NoticeDetail.vue
  frontend/manager/src/views/NoticeList.vue
  frontend/store/src/views/NoticeView.vue
Labels: 👨‍🎨 Frontend

#213 Frontend/feature/question
  frontend/manager/src/views/QuestionDetail.vue
  frontend/manager/src/views/QuestionList.vue
  frontend/store/src/views/QuestionDetail.vue
  frontend/store/src/views/QuestionList.vue
Labels: 👨‍🎨 Frontend

#214 Backend/feature/question
  backend/src/main/java/com/example/Surisuri_Masuri/config/SecurityConfig.java
  backend/src/main/java/com/example/Surisuri_Masuri/jwt/JwtUtils.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/controller/QuestionController.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/request/PostCreateQuestionReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/request/QuestionAnswerReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/response/GetListQuestionRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
Labels: 👨‍🎨 Frontend

#215 [Fix] 가맹점 조회 기능 컨트롤러 수정 (#45)
  backend/src/main/java/com/example/Surisuri_Masuri/store/Controller/StoreController.java
Labels: 👨‍💻 Backend

#216 Backend/feature/cart
  backend/src/main/java/com/example/Surisuri_Masuri/cart/model/dto/request/CartCreateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/service/CartService.java
Labels: 👨‍💻 Backend

#217 Backend/feature/container
  backend/src/main/java/com/example/Surisuri_Masuri/container/controller/ContainerController.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/response/GetListContainerRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerService.java
Labels: 👨‍💻 Backend

#218 Backend/feature/notice
  backend/src/main/java/com/example/Surisuri_Masuri/notice/controller/NoticeController.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/model/response/GetListNoticeRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/service/NoticeService.java
Labels: 👨‍💻 Backend

#219 Backend/feature/notice
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/Orders.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
Labels: 👨‍💻 Backend

#220 [Fix] StoreRepositoryCustomImpl 수정
  backend/src/main/java/com/example/Surisuri_Masuri/store/Repository/QueryDsl/StoreRepositoryCustomImpl.java
Labels: 👨‍💻 Backend

#223 [Fix] 창고 재고 목록 조회 기능 서비스 수정
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerService.java
Labels: 👨‍💻 Backend

#224 [Fix] 백엔드 테스트 코드 수정
  backend/src/test/java/Cart/CartSuccessControllerTest.java
Labels: 👨‍💻 Backend

#225 [Fix] 백엔드 테스트 코드 수정
  backend/src/test/java/Cart/CartSuccessControllerTest.java
Labels: 👨‍💻 Backend

#226 Backend/feature/cart
  backend/src/main/java/com/example/Surisuri_Masuri/cart/repository/CartDetailRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/repository/QueryDsl/CartDetailRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/repository/QueryDsl/CartDetailRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/service/CartService.java
Labels: 👨‍💻 Backend

#227 Backend/feature/container
  backend/src/main/java/com/example/Surisuri_Masuri/container/controller/ContainerController.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/ContainerRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/ContainerStockRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerStockRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerStockRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerService.java
Labels: 👨‍💻 Backend

#228 Backend/feature/notice
  backend/src/main/java/com/example/Surisuri_Masuri/notice/repository/NoticeRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/repository/QueryDsl/NoticeRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/repository/QueryDsl/NoticeRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/service/NoticeService.java
Labels: 👨‍💻 Backend

#229 Backend/feature/product
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/Product.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/dto/request/ProductCreateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/dto/response/ProductReadRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/repository/ProductRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/repository/QueryDsl/ProductRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/repository/QueryDsl/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/service/ProductService.java
Labels: 👨‍💻 Backend

#230 Backend/feature/question
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/entity/Question.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/request/PostCreateQuestionReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/repository/QueryDsl/QuestionRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/repository/QueryDsl/QuestionRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/repository/QuestionRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
Labels: 👨‍💻 Backend

#231 [Fix] 가맹점 관리자 배송 상태 기능 수정
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/dto/deliveryEnum/DeliveryEnum.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/dto/request/OrdersUpdateDeliveryReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
Labels: 👨‍💻 Backend

#232 [Fix] 가맹점 관리자 주문 내역 페이지 수정
  frontend/store/src/views/OrderDetailView.vue
Labels: 👨‍🎨 Frontend

#235 Backend/feature/answer
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/Product.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/dto/request/ProductCreateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/dto/response/ProductReadRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/productEnum/ProductCategory.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/service/ProductService.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/entity/Answer.java
Labels: 👨‍💻 Backend

#236 Backend/feature/member
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/Entity/User.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/DiscardedProduct.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/LoginRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserSchedulingService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/scheduler/UserScheduler.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ReqDtos/StoreStockCreateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
Labels: 👨‍💻 Backend

#237 [Fix] 가맹점 관리자 회원 기능의 에러 코드 수정
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Controller/UserController.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
Labels: 👨‍💻 Backend

#238 Frontend/feature/store
  backend/src/main/java/com/example/Surisuri_Masuri/cart/repository/CartDetailRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/repository/QueryDsl/CartDetailRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/repository/QueryDsl/CartDetailRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/service/CartService.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/controller/ContainerController.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/ContainerRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/ContainerStockRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerStockRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerStockRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Controller/UserController.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/Entity/User.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/DiscardedProduct.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/LoginRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserSchedulingService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/scheduler/UserScheduler.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/repository/NoticeRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/repository/QueryDsl/NoticeRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/repository/QueryDsl/NoticeRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/service/NoticeService.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/dto/deliveryEnum/DeliveryEnum.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/dto/request/OrdersUpdateDeliveryReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/Product.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/dto/request/ProductCreateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/dto/response/ProductReadRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/productEnum/ProductCategory.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/repository/ProductRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/repository/QueryDsl/ProductRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/repository/QueryDsl/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/service/ProductService.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/entity/Answer.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/entity/Question.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/request/PostCreateQuestionReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/repository/QueryDsl/QuestionRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/repository/QueryDsl/QuestionRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/repository/QuestionRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ReqDtos/StoreStockCreateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
  backend/src/test/java/Container/ContainerControllerFailureTest.java
  backend/src/test/java/Container/ContainerSuccessControllerTest.java
  frontend/store/src/views/HomeView.vue
  frontend/store/src/views/LoginView.vue
  frontend/store/stores/userStore.js
  frontend/store/tests/unit/productView.spec.js
Labels: 👨‍💻 Backend

#239 [Feat] Store 관련 폐기 처분 알림 기능 구현
  backend/src/main/java/com/example/Surisuri_Masuri/cart/repository/CartDetailRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/repository/QueryDsl/CartDetailRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/repository/QueryDsl/CartDetailRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/service/CartService.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/controller/ContainerController.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/ContainerRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/ContainerStockRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerStockRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerStockRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Controller/UserController.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/Entity/User.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/DiscardedProduct.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ResDtos/LoginRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserSchedulingService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/scheduler/UserScheduler.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/repository/NoticeRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/repository/QueryDsl/NoticeRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/repository/QueryDsl/NoticeRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/service/NoticeService.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/dto/deliveryEnum/DeliveryEnum.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/dto/request/OrdersUpdateDeliveryReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/Product.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/dto/request/ProductCreateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/dto/response/ProductReadRes.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/model/productEnum/ProductCategory.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/repository/ProductRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/repository/QueryDsl/ProductRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/repository/QueryDsl/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/service/ProductService.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/entity/Answer.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/entity/Question.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/model/request/PostCreateQuestionReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/repository/QueryDsl/QuestionRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/repository/QueryDsl/QuestionRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/repository/QuestionRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Model/ReqDtos/StoreStockCreateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreStockService.java
  backend/src/test/java/Container/ContainerControllerFailureTest.java
  backend/src/test/java/Container/ContainerSuccessControllerTest.java
  frontend/store/src/views/HomeView.vue
  frontend/store/src/views/LoginView.vue
  frontend/store/src/views/OrderDetailView.vue
  frontend/store/stores/userStore.js
  frontend/store/tests/unit/productView.spec.js
Labels: 👨‍🎨 Frontend

#240 [Feat] 가맹점 관리자 예외 처리 추가
  backend/src/main/java/com/example/Surisuri_Masuri/cart/controller/CartController.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/model/dto/request/CartCreateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/CustomExceptionHandler.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/GlobalExceptionHandler.java
  backend/src/test/java/Cart/CartControllerFailureTest.java
Labels: 👨‍💻 Backend

#241 Backend/feature/exception
  backend/src/main/java/com/example/Surisuri_Masuri/exception/CustomExceptionHandler.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/LoginReq.java
Labels: 👨‍💻 Backend

#242 Develop backend
  backend/src/main/java/com/example/Surisuri_Masuri/cart/controller/CartController.java
  backend/src/main/java/com/example/Surisuri_Masuri/cart/model/dto/request/CartCreateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/CustomExceptionHandler.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/LoginReq.java
  backend/src/test/java/Cart/CartControllerFailureTest.java
Labels: 👨‍💻 Backend

#243 [Feat] 가맹점 관리자 예외 처리 추가
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/LoginReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/UserSignUpReq.java
Labels: 👨‍💻 Backend

#244 [Feat] 가맹점 관리자 회원 기능 수정
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/LoginReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/UserSignUpReq.java
Labels: 👨‍💻 Backend

#247 Backend/feature/container
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/entity/Container.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerStockRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerStockRepositoryCustomImpl.java
Labels: 👨‍💻 Backend

#248 [Fix] 가맹점 관리자 회원 기능 예외 처리
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/UserFindEmailReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/UserUpdateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
Labels: 👨‍💻 Backend

#246 [Feat] Product 관련 검색 기능 구현
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/entity/Container.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerStockRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerStockRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/UserFindEmailReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/UserUpdateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/controller/ProductController.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/repository/QueryDsl/ProductRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/repository/QueryDsl/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/service/ProductService.java
Labels: 👨‍💻 Backend

#249 Backend/feature/orders
  backend/src/main/java/com/example/Surisuri_Masuri/orders/controller/OrdersController.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/dto/request/OrdersUpdateDeliveryReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/OrdersDetailRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/OrdersRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/QueryDsl/OrdersDetailRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/QueryDsl/OrdersDetailRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/QueryDsl/OrdersRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/QueryDsl/OrdersRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
Labels: 👨‍💻 Backend

#250 Develop_backend
  backend/src/main/java/com/example/Surisuri_Masuri/orders/controller/OrdersController.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/dto/request/OrdersUpdateDeliveryReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/OrdersDetailRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/OrdersRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/QueryDsl/OrdersDetailRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/QueryDsl/OrdersDetailRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/QueryDsl/OrdersRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/QueryDsl/OrdersRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
Labels: 👨‍💻 Backend

#251 Frontend/feature/manager/ip
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/entity/Container.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerStockRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerStockRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/UserFindEmailReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/UserUpdateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/controller/OrdersController.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/dto/request/OrdersUpdateDeliveryReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/OrdersDetailRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/OrdersRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/QueryDsl/OrdersDetailRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/QueryDsl/OrdersDetailRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/QueryDsl/OrdersRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/QueryDsl/OrdersRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/controller/ProductController.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/repository/QueryDsl/ProductRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/repository/QueryDsl/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/service/ProductService.java
  frontend/manager/nginx/default.conf
  frontend/manager/src/views/NoticeDetail.vue
  frontend/manager/src/views/NoticeList.vue
  frontend/manager/src/views/NoticeNew.vue
  frontend/manager/src/views/QuestionDetail.vue
  frontend/manager/src/views/QuestionList.vue
  frontend/manager/src/views/ShopView.vue
  frontend/manager/src/views/StoreDetailView.vue
  frontend/manager/src/views/StoreView.vue
  frontend/manager/stores/managerStores.js
  frontend/store/stores/userStore.js
Labels: 👨‍🎨 Frontend

#252 [Fix] 예외 처리에 메시지 수정
  backend/src/main/java/com/example/Surisuri_Masuri/cart/service/CartService.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerSchedulingService.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/email/Service/EmailService.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/service/NoticeService.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/service/ProductService.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Service/StoreService.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreSchedulingService.java
Labels: 👨‍💻 Backend

#253 Develop backend
  backend/src/main/java/com/example/Surisuri_Masuri/cart/service/CartService.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerSchedulingService.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/email/Service/EmailService.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/service/NoticeService.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/service/ProductService.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Service/StoreService.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreSchedulingService.java
Labels: 👨‍💻 Backend

#254 [Fix] 본사 관리자 회원 기능 수정
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/LoginReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
Labels: 👨‍💻 Backend

#255 [Fix] 본사 관리자 회원 기능 수정
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/LoginReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
Labels: 👨‍💻 Backend

#259 [Fix] 공통 회원 기능 수정
  backend/src/main/java/com/example/Surisuri_Masuri/member/Controller/ManagerController.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/LoginReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/ManagerSignUpReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
Labels: 👨‍💻 Backend

#260 [Fix] 공통 회원 기능 수정
  backend/src/main/java/com/example/Surisuri_Masuri/member/Controller/ManagerController.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/LoginReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/ManagerSignUpReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
Labels: 👨‍💻 Backend

#261 [Fix] 본사 관리자 회원 기능 수정
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/ManagerLoginReq.java
  frontend/store/tests/unit/productView.asd.js
  frontend/store/tests/unit/stockEditView.asd.js
  frontend/store/tests/unit/userMypage.asd.js
  frontend/store/tests/unit/userOrder.asd.js
Labels: 👨‍💻 Backend

#262 [Test] 테스트 코드 수정
  backend/src/main/java/com/example/Surisuri_Masuri/cart/service/CartService.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/model/entity/Container.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerStockRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/repository/QueryDsl/ContainerStockRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerSchedulingService.java
  backend/src/main/java/com/example/Surisuri_Masuri/container/service/ContainerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/email/Service/EmailService.java
  backend/src/main/java/com/example/Surisuri_Masuri/exception/ErrorCode.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Controller/ManagerController.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/ManagerLoginReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/ManagerSignUpReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/UserFindEmailReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/UserUpdateReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/ManagerService.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  backend/src/main/java/com/example/Surisuri_Masuri/notice/service/NoticeService.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/controller/OrdersController.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/model/dto/request/OrdersUpdateDeliveryReq.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/OrdersDetailRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/OrdersRepository.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/QueryDsl/OrdersDetailRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/QueryDsl/OrdersDetailRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/QueryDsl/OrdersRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/repository/QueryDsl/OrdersRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/orders/service/OrdersService.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/controller/ProductController.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/repository/QueryDsl/ProductRepositoryCustom.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/repository/QueryDsl/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/example/Surisuri_Masuri/product/service/ProductService.java
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
  backend/src/main/java/com/example/Surisuri_Masuri/store/Service/StoreService.java
  backend/src/main/java/com/example/Surisuri_Masuri/storeStock/Service/StoreSchedulingService.java
  frontend/store/tests/unit/productView.asd.js
  frontend/store/tests/unit/stockEditView.asd.js
  frontend/store/tests/unit/userMypage.asd.js
  frontend/store/tests/unit/userOrder.asd.js
Labels: 👨‍🎨 Frontend

#263 [Fix] 본사 관리자 회원 DTO 수정
  backend/src/main/java/com/example/Surisuri_Masuri/member/Model/ReqDtos/ManagerLoginReq.java
  frontend/store/tests/unit/productView.asd.js
  frontend/store/tests/unit/stockEditView.asd.js
  frontend/store/tests/unit/userMypage.asd.js
  frontend/store/tests/unit/userOrder.asd.js
Labels: 👨‍💻 Backend

#264 [ Fix] 프론트와 백엔드간 연동을 위한 코드 수정
  backend/src/main/java/com/example/Surisuri_Masuri/common/Healthz.java
  backend/src/main/java/com/example/Surisuri_Masuri/config/SecurityConfig.java
  backend/src/main/java/com/example/Surisuri_Masuri/member/Service/UserService.java
  cicd/k8s/backend/backend-deployment.yml
Labels: 👨‍💻 Backend, 👨‍🎨 Frontend, CI/CD

#265 [Feat] manager 관련 코드 수정
  frontend/manager/nginx/default.conf
  frontend/manager/src/views/ContainerDetail.vue
  frontend/manager/src/views/ContainerList.vue
  frontend/manager/src/views/NoticeDetail.vue
  frontend/manager/src/views/NoticeList.vue
  frontend/manager/src/views/NoticeNew.vue
  frontend/manager/src/views/QuestionDetail.vue
  frontend/manager/src/views/QuestionList.vue
  frontend/manager/src/views/ShopView.vue
  frontend/manager/src/views/StoreDetailView.vue
  frontend/manager/src/views/StoreView.vue
  frontend/manager/stores/managerStores.js
  frontend/store/nginx/default.conf
  frontend/store/stores/userStore.js
Labels: 👨‍💻 Backend, 👨‍🎨 Frontend, CI/CD

#268 [Fix] 가맹점 로그인 관련 코드 수정
  frontend/store/stores/userStore.js
Labels: 👨‍🎨 Frontend

#269 [Fix] 가맹점 로그인 관련 코드 수정
  frontend/store/stores/userStore.js
Labels: 👨‍🎨 Frontend

#270 [Fix] 이메일 전송 관련 기능 수정
  backend/src/main/java/com/example/Surisuri_Masuri/email/Service/EmailService.java
  frontend/manager/nginx/default.conf
  frontend/manager/src/views/ContainerDetail.vue
  frontend/manager/src/views/ContainerList.vue
  frontend/manager/src/views/NoticeDetail.vue
  frontend/manager/src/views/NoticeList.vue
  frontend/manager/src/views/NoticeNew.vue
  frontend/manager/src/views/QuestionDetail.vue
  frontend/manager/src/views/QuestionList.vue
  frontend/manager/src/views/ShopView.vue
  frontend/manager/src/views/StoreDetailView.vue
  frontend/manager/src/views/StoreView.vue
  frontend/manager/stores/managerStores.js
  frontend/store/nginx/default.conf
  frontend/store/src/utils/error.js
  frontend/store/src/views/CartView.vue
  frontend/store/src/views/HomeView.vue
  frontend/store/src/views/LoginView.vue
  frontend/store/src/views/NoticeView.vue
  frontend/store/src/views/OrderDetailView.vue
  frontend/store/src/views/PasswordView.vue
  frontend/store/src/views/ProductView.vue
  frontend/store/src/views/QuestionDetail.vue
  frontend/store/src/views/QuestionList.vue
  frontend/store/src/views/QuestionNew.vue
  frontend/store/src/views/RegisterView.vue
  frontend/store/src/views/ResetLoginView.vue
  frontend/store/src/views/ResetPasswordView.vue
  frontend/store/src/views/StockEditView.vue
  frontend/store/src/views/UserProfileView.vue
  frontend/store/stores/userStore.js
  frontend/store/tests/unit/userFindPw.asd.js
  frontend/store/tests/unit/userLogin.asd.js
  frontend/store/tests/unit/userMypage.asdf.js
  frontend/store/tests/unit/userRegister.asd.js
  frontend/store/tests/unit/userResetEmail.asd.js
  frontend/store/tests/unit/userResetPw.asd.js
Labels: 👨‍💻 Backend

#272 [Fix] 문의사항 답변 기능 서비스 수정
  backend/src/main/java/com/example/Surisuri_Masuri/question/service/QuestionService.java
Labels: 👨‍💻 Backend
